table {
    table-layout: fixed;
    width: 1000px;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: rgb(32, 235, 204);
}
th {
    border: 1px solid grey;
}
td {
    font-weight: bold;
    border: 1px solid grey;

}
th, td {
    padding: 10px 15px;
 }